



@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */
@import 'highlight.js/styles/github-dark.css';
/* In styles.css or globals.css */
@import 'cal-heatmap/cal-heatmap.css';
* {
  padding: 0;
  margin: 0;
}
:root {
  --jet: hsl(0, 0%, 22%);
}

.outline-jet {
  background-color: var(--jet);
}
/* Custom hover box-shadow */
.hover\:custom-shadow:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

body {
  /* background: rgb(12, 12, 12); */
  background-color: rgb(5, 5, 5);
  font-family:"latin",  sans-serif;
  height: 100%;
  font-size: medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar */
  height: 6px; /* Thin horizontal scrollbar */
}

/* Customize the track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background: #333; /* Grayish-black track */
  border-radius: 10px; /* Rounded corners */
}

/* Customize the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #555; /* Slightly lighter gray thumb */
  border-radius: 10px; /* Rounded corners */
}

/* Customize the thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background: #777; /* Lighter gray thumb on hover */
}

b {
  color: white;
}

.slick-dots li button:before, .slick-dots li.slick-active button:before {
    color: white !important;
}

.slick-list {
  overflow: hidden; /* Hides content outside the slider */
}

.slick-dots li  {
    width: 0 !important;
 margin: 0 7px!important;
      }

.slick-prev:before,
.slick-next:before {
  color: white; /* Style navigation arrows */
}
.bubble {
position: absolute;

border-top-left-radius: 80%;
border-top-right-radius: 80%;
border-right:inset 10px;

border-bottom-left-radius: 100%;
border-bottom-right-radius: 15px;
}
@media screen and (max-width: 600px) {
    .bubble{
        border-top-right-radius:30%;
        border-top-left-radius:30%;
        border-bottom-left-radius:10%;
    }
}
.resume-body{
    display:grid;
    grid-auto-rows:max-content;
}
.intro {
  font-weight: bold;
  /* background: linear-gradient(60deg, rgb(210, 5, 56), silver, white); */
  background: linear-gradient(120deg, slategray 0, white 10%, slategray 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s infinite linear;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}
.name{
    /* background:linear-gradient(120deg,white 10%,slategray 20%) */
    background:linear-gradient(120deg, slategray 0,white 25%,slategray 20%);
    background-position:0;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    animation:shine2 1.5s infinite linear   ;
    animation-fill-mode:forwards;

}

.vslide,.contact-info-animation{
    overflow-y:hidden;
animation:vertical_slide .3s;

}

@keyframes vertical_slide{
    0%{
        height:0;
        opacity:0;
        
    }100%{
        height:30vh;
        opacity:1;
        
    }

}

@keyframes shine2{

    0%{
        background-position:0;
    }100%{
        background-position:220px;
    }
}

@media screen and (max-width: 600px) {
  @keyframes shine2 {
    0% {
      background-position: 0;
    }
    100% {
      background-position: 180px;
    }
  }
}
.projectCategory:hover {
transition: .1s ease-in-out;
  color: rgb(234, 179, 8, 1);
  

}

.text-size-1 {
  font-size: 16px;
}

h1,
h2,
h3 {
  color: white;
}



.color {
  background-color: rgb(27, 27, 27);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
}

.card-color {
  background-color: rgb(0,0,0,1);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
}
.profile-card{
box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 10px;
}
.color2 {
  background-color: rgb(35, 35, 35);
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.blogs-card {
  background-color: transparent;
  color: rgb(106, 104, 104);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}

.tech-tag {
  background-color: rgb(27, 27, 27);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
  color: rgb(147, 143, 143);
  border-radius: 5px;
  font-size: small;
  padding: 2px 4px;
}

.br_sd {
  background-color: inset rgb(35, 35, 35);
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px 14px 28px,
    rgba(0, 0, 0, 0.4) 0px 10px 10px,
    rgba(60, 59, 59, 0.9) 0px 0px 38px;
}

ol {
  list-style-type: inherit;
  color: rgb(153, 255, 0);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.InputCredentialContainer {
  padding: 30px;
  border-radius: 15px;
  background: rgb(182, 184, 187);
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
li{
    transition:1s ease-in-out;

}
.img {
  background-color: rgb(65, 65, 65);
}

.buttonDiv,
.line {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
}

.occupation {
  background-color: rgb(40, 40, 40);
}

.nav-list-items {
  color: white;
  font-style: bold;
  opacity: 95%;
}

.navbar {
  background-size: cover;
}

li {
  cursor: pointer;
  user-select: none;
}

.card-style {
  background-color: rgb(22, 21, 21);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
}

p {
  color: slategray;
}

.contact-link {
  color: white;
  font-size: 14px;
}

.emoji {
  position: absolute;
  transform-origin: right 100%;
  animation: HI 1s infinite;
  /* animation-direction: alternate-reverse; */
}
@keyframes HI {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 380px;
  }
}

@media screen and (max-width: 600px) {
  @keyframes shine {
    0% {
      background-position: 0;
    }
    100% {
      background-position: 210px;
    }
  }
}
.profile-card-animation{
    animation: slide 1.3s ease-in-out;
}

.popup,.page-component-animation {
  animation: popUp .3s ease-in-out;
}

.underliner {
    width: auto; /* Start with width 0% for smoother effect */
    height: 3px;
    border-radius: 20px;
    animation: linear-slide 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Smoother cubic-bezier for more fluidity */
}
.fadeOut{
    animation:fadeOut .25s ease-in-out;
}
@keyframes fadeOut {
  0% {
      transform:scale(0);
  }
  100% {
      transform:scale(1);
  }
}
@keyframes slide {

  0% {

    transform: translateX(-400px) ;
  }
  100% {
    transform: translateX(0);
    
  }
}
@keyframes linear-slide {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes popUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
