@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
}

body {
  /* background: rgb(12, 12, 12); */
  background-color: rgb(5, 5, 5);
  font-family: "Poppins", sans-serif;
  font-size: medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

b {
  color: white;
}

.intro {
  font-weight: bold;
  /* background: linear-gradient(60deg, rgb(210, 5, 56), silver, white); */
  background: linear-gradient(120deg, slategray 0, white 10%, slategray 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s infinite linear;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}

.projectCategory:hover {
  color: rgb(234, 179, 8, 1);
}

.text-size-1 {
  font-size: 16px;
}

h1,
h2,
h3 {
  color: white;
}

.color {
  background-color: rgb(27, 27, 27);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
}

.card-color {
  background-color: rgb(10, 9, 9);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
}

.color2 {
  background-color: rgb(35, 35, 35);
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.blogs-card {
  background-color: transparent;
  color: rgb(106, 104, 104);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}

.tech-tag {
  background-color: rgb(27, 27, 27);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
  color: gray;
  border-radius: 10px;
  font-size: small;
  padding: 2px 4px;
}

.br_sd {
  background-color: inset rgb(35, 35, 35);
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px 14px 28px,
    rgba(0, 0, 0, 0.4) 0px 10px 10px,
    rgba(60, 59, 59, 0.9) 0px 0px 38px;
}

ol {
  list-style-type: inherit;
  color: rgb(153, 255, 0);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.RootAuth {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms ease-in-out;
  visibility: hidden;
  opacity: 0;
  z-index: 11;
}

.RootAuth:target {
  visibility: visible;
  opacity: 1;
}

.rootPass input {
  padding-top: 10px;
  outline: none;
  border: none;
  transition:
    padding-top 0.3s ease,
    font-size 0.3s ease;
}

.rootPass {
  margin-top: 25px;
  border-radius: 10px;
  position: relative;
}

.rootPass label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
  color: #999;
  transition:
    top 0.3s ease,
    left 0.3s ease,
    font-size 0.3s ease,
    color 0.3s ease;
  pointer-events: none;
  /* Prevents label from blocking input */
}

.rootPass input:focus + label {
  top: -25px;
  left: 0;
  font-size: 16px;
  color: black;
}

#closePopup {
  color: black;
  float: right;
  margin-right: 15px;
  font-size: 30px;
}

.InputCredentialContainer {
  padding: 30px;
  border-radius: 15px;
  background: rgb(182, 184, 187);
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.img {
  background-color: rgb(65, 65, 65);
}

.buttonDiv,
.line {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
}

.occupation {
  background-color: rgb(40, 40, 40);
}

.nav-list-items {
  color: white;
  font-style: bold;
  opacity: 95%;
}

.navbar {
  background-size: cover;
}

li {
  cursor: pointer;
  user-select: none;
}

.card-style {
  background-color: rgb(22, 21, 21);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
}

p {
  color: slategray;
}

.contact-link {
  color: white;
  font-size: 14px;
}

.emoji {
  position: absolute;
  transform-origin: right 100%;
  animation: HI 1s infinite;
  /* animation-direction: alternate-reverse; */
}

.select-projectCategory {
  animation: projectCateg oryCard 1s ease-in-out;
}

@keyframes projectCategoryCard {
  0% {
    height: 0;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 100%;
  }
}

@keyframes HI {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 380px;
  }
}

@media screen and (max-width: 600px) {
  @keyframes shine {
    0% {
      background-position: 0;
    }
    100% {
      background-position: 210px;
    }
  }
}

.page-component {
  animation: popUp 1s ease-in-out;
}

@keyframes popUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
